@keyframes slide {
    /* thanks stackoverflow (slightly modified) (would credit but i lost the tab)*/
    from { background-position: 0; }
    to { background-position: 90000% 90000%; }
}

body {
    color: white;
    background: #101010 url("https://hc-cdn.hel1.your-objectstorage.com/s/v3/b02cc43dd3671a5b2e5049975cebe9b8fe259922_ezgif.com-animated-gif-maker-2.gif");
    animation: slide 60000s infinite linear;
    letter-spacing: 1px;
}

@keyframes blinker {
    from{
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 0.25;
    }
}

.continue_button {
    animation: blinker 3s ease-in-out infinite;
}

.b612-mono-regular {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.b612-mono-bold {
    font-family: "B612 Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.error_text {
    color: red;
    letter-spacing: 10px;
}

.dialogue_box {
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
}

.b612-mono-regular-italic {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.b612-mono-bold-italic {
    font-family: "B612 Mono", monospace;
    font-weight: 700;
    font-style: italic;
}